h1 {
    color: gold;
    font-size: 45px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

#wrapper {
    border-radius: 10px;
    width: 80%;
    margin: auto;
    background-color: black;
    padding-bottom: 38%;
}
 
body {
    background-color: black;
    background-image: url('cinemabackground.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 35px;
}

#dropdown {
    text-align: center;
    cursor: pointer;
    float: left;
    margin-left: 30em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* css styling of different elements */
body{ 
	font-family:Sans-serif; /* styling the font for the whole page */
	}
#content { /* styling the margins for the content */
	margin:2em;
	}
	
th, td {	/* styling the table rows */
    padding: 20px;
    text-align:left;
    color: gold;
    border-bottom: 1px solid #2d2d2d;
    }		
    
.movietitle {	/* styling the text differently in the column where the name of the movie is displayed */
    font-weight: bold;
    padding-left: 1em;
    font-size: 1.1em;
    }