h1 {
    color: yellow;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15px;
}

#wrapper {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 42%;
}
 
body {
    background-color: black;
    background-image: url('cinemabackground.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
}

.dropdown {
    text-align: center;
}