h1 {
    color: yellow;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

#wrapper {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    background-color: black;
    padding-bottom: 42%;
}
 
body {
    background-color: black;
    background-image: url('cinemabackground.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 35px;
}

.dropbutton {
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.dropbutton:hover {
    background-color: yellow;
}

.dropdown {
    text-align: center;
}

#theater {
    align-items: center;
}

/* css styling of different elements */
body{ 
	font-family:Sans-serif; /* styling the font for the whole page */
	}
	#content { /* styling the margins for the content */
	margin:2em;
	}
	
	select {		
	margin-right:em;
	margin-left:1em;
	}
	
    th, td {	/* styling the table rows */
    padding: 10px;
    text-align:left;
    color: yellow;
    border-bottom: 1px solid #2d2d2d;
    }		
    
    .movietitle {	/* styling the text differently in the column where the name of the movie is displayed */
    font-weight:bold;
    padding-left:1em;
    font-size:1.1em;
    }